<html>
    <body>
        <h2 style= 'text-align: center; color: darkred'> Please select 5 restaurants from our list to start</h2>
        <div style='text-align: center'>
                <form action="/new-user-result" method="POST">
                    <label for="business_id">Restaurant:</label>
                        <select id ='business_name' name="business_name" style="width:100px;height:500px" multiple>
                                {% for i in out %}
                                <option value={{i}}>{{i}}</option>
                                {% endfor %}
                                
                        </select>

                        <br>
                        <input type="Submit" value="Search">
                

                </form>
        
        </div>
    </body>
</html>