<!DOCTYPE html>
<html>
<style>
body {
    background-image: url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg'); 
    background-size: 100%; /* size the background image at 100% like any responsive img tag */
    background-position: top center;
    background-repeat:no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(87, 86, 86, 0.2);
    color: WHITE;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
 }
</style>


<body>
    <h1 style="color:darkred;text-align: center ; font-size:380%;font-weight:bolder"> Welcome to GoodEats site</h1>
    <div style="text-align: center; font-size:100%"> 
        <h4> This is where you can find your next favorite restaurants. </h4>
        <h4> First, please let us know if you have an account with us.</h4>
        <form action="/user" method="POST" >
            <label for="answer" > Yes or No? </label>
            <input type="text" id="answer" name="answer" >
            <br>
            <br>
            <input type="Submit" value="Submit" >

        </form>
    </div>
</body>
</html>